# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
__pycache__/
test/
*.png
*.csv
*.tiff
.DS_Store
.ipynb_checkpoints/2500 evaluation-checkpoint.ipynb
.ipynb_checkpoints/500 evaluation-checkpoint.ipynb
.ipynb_checkpoints/Karenia notebook in seto-checkpoint.ipynb
.ipynb_checkpoints/case_plot-checkpoint.ipynb
.ipynb_checkpoints/dispersion-Copy1-checkpoint.ipynb
.ipynb_checkpoints/dispersion-checkpoint.ipynb
.ipynb_checkpoints/newmap&pixel-checkpoint.ipynb
.ipynb_checkpoints/resample&plot by geoweb-checkpoint.ipynb
2020-02-23.nc
2020-02-23.npz
2020-02-23.txt
2020-02.nc
2211.nc
2500 evaluation.ipynb
500 evaluation.ipynb
CCRR_dataset.tab
Data/IOP/aw_bw
Data/IOP/bbw
Data/In Situ/
Data/Spectral Matching/
Karenia notebook in seto.ipynb
acolite/LICENCE.txt
acolite/README.md
acolite/acolite.spec
acolite/acolite/__init__.py
acolite/acolite/ac/__init__.py
acolite/acolite/ac/ancillary/__init__.py
acolite/acolite/ac/ancillary/ancillary_download.py
acolite/acolite/ac/ancillary/ancillary_get.py
acolite/acolite/ac/ancillary/ancillary_interp_met.py
acolite/acolite/ac/ancillary/ancillary_interp_ozone.py
acolite/acolite/ac/ancillary/ancillary_list.py
acolite/acolite/ac/exponential_epsilon.py
acolite/acolite/ac/f0_sensor.py
acolite/acolite/ac/get_dark_spectrum.py
acolite/acolite/ac/o2lut_get.py
acolite/acolite/ac/o2lut_interp.py
acolite/acolite/ac/o3_transmittance.py
acolite/acolite/ac/pressure_elevation.py
acolite/acolite/ac/rayleigh.py
acolite/acolite/ac/select_model.py
acolite/acolite/ac/select_rdark.py
acolite/acolite/ac/tiles_interp.py
acolite/acolite/ac/toa_rsky.py
acolite/acolite/ac/wvlut_get.py
acolite/acolite/ac/wvlut_interp.py
acolite/acolite/acolite/__init__.py
acolite/acolite/acolite/acolite_ac.py
acolite/acolite/acolite/acolite_cli.py
acolite/acolite/acolite/acolite_gui.py
acolite/acolite/acolite/acolite_l2w.py
acolite/acolite/acolite/acolite_l2w_qaa.py
acolite/acolite/acolite/acolite_map.py
acolite/acolite/acolite/acolite_run.py
acolite/acolite/acolite/acolite_settings.py
acolite/acolite/acolite/acolite_toa_crop.py
acolite/acolite/acolite/l2w_required.py
acolite/acolite/acolite/pscale.py
acolite/acolite/acolite/settings_read.py
acolite/acolite/acolite/settings_write.py
acolite/acolite/aerlut/__init__.py
acolite/acolite/aerlut/aerlut_pressure.py
acolite/acolite/aerlut/get_sensor_lut.py
acolite/acolite/aerlut/interp2d.py
acolite/acolite/aerlut/interp3d.py
acolite/acolite/aerlut/interplut_sensor.py
acolite/acolite/aerlut/lut_get_ac_parameters_fixed_tau_sensor.py
acolite/acolite/aerlut/lut_get_ac_parameters_sensor.py
acolite/acolite/aerlut/lut_get_tau_sensor.py
acolite/acolite/aerlut/lut_get_taufit_sensor.py
acolite/acolite/aerlut/lutpos.py
acolite/acolite/aerlut/read_lut_data.py
acolite/acolite/dem/__init__.py
acolite/acolite/dem/hgt_find.py
acolite/acolite/dem/hgt_geolocation.py
acolite/acolite/dem/hgt_lonlat.py
acolite/acolite/dem/hgt_read.py
acolite/acolite/landsat/__init__.py
acolite/acolite/landsat/bundle_test.py
acolite/acolite/landsat/geo/__init__.py
acolite/acolite/landsat/geo/get_ll.py
acolite/acolite/landsat/geo/get_projection.py
acolite/acolite/landsat/geo/get_sub.py
acolite/acolite/landsat/get_bt.py
acolite/acolite/landsat/get_rtoa.py
acolite/acolite/landsat/image_corners.py
acolite/acolite/landsat/metadata_parse.py
acolite/acolite/landsat/metadata_read.py
acolite/acolite/landsat/read_band.py
acolite/acolite/landsat/view_azimuth.py
acolite/acolite/output/__init__.py
acolite/acolite/output/nc_to_geotiff.py
acolite/acolite/output/nc_write.py
acolite/acolite/plotting/__init__.py
acolite/acolite/plotting/plot_dark_spectrum.py
acolite/acolite/plotting/plot_tiled_retrieval.py
acolite/acolite/sentinel/__init__.py
acolite/acolite/sentinel/geo/__init__.py
acolite/acolite/sentinel/geo/get_ll.py
acolite/acolite/sentinel/geo/get_projection.py
acolite/acolite/sentinel/geo/get_sub.py
acolite/acolite/sentinel/get_rtoa.py
acolite/acolite/sentinel/granule_meta.py
acolite/acolite/sentinel/read_band.py
acolite/acolite/sentinel/safe_test.py
acolite/acolite/sentinel/safe_tile_grid.py
acolite/acolite/sentinel/scene_meta.py
acolite/acolite/shared/__init__.py
acolite/acolite/shared/azimuth_two_points.py
acolite/acolite/shared/closest_idx.py
acolite/acolite/shared/coef_chl_oc.py
acolite/acolite/shared/coef_chl_re_gons.py
acolite/acolite/shared/coef_hue_angle.py
acolite/acolite/shared/coef_nechad2016.py
acolite/acolite/shared/coef_nechad_hs.py
acolite/acolite/shared/coef_nechad_spm_hs.py
acolite/acolite/shared/coef_qaa.py
acolite/acolite/shared/datascl.py
acolite/acolite/shared/distance_in_ll.py
acolite/acolite/shared/distance_se.py
acolite/acolite/shared/download_file.py
acolite/acolite/shared/f0_band.py
acolite/acolite/shared/f0_get.py
acolite/acolite/shared/f0_wave.py
acolite/acolite/shared/import_config.py
acolite/acolite/shared/ko3_band.py
acolite/acolite/shared/ko3_get.py
acolite/acolite/shared/nc_read.py
acolite/acolite/shared/qmap.py
acolite/acolite/shared/read_points.py
acolite/acolite/shared/read_refri.py
acolite/acolite/shared/regression.py
acolite/acolite/shared/reproject2.py
acolite/acolite/shared/rmsd.py
acolite/acolite/shared/rsr_convolute.py
acolite/acolite/shared/rsr_convolute_dict.py
acolite/acolite/shared/rsr_read.py
acolite/acolite/shared/rtoa_to_rhos.py
acolite/acolite/shared/scale_dist.py
acolite/acolite/shared/sensor_wave.py
acolite/acolite/shared/similarity_ratio_sensor.py
acolite/acolite/shared/similarity_ratio_wave.py
acolite/acolite/shared/similarity_read.py
acolite/config/
acolite/data/
acolite/launch_acolite.py
case_plot.ipynb
dispersion-Copy1.ipynb
dispersion.ipynb
geo_Collection/.DS_Store
geoviews-examples/.ipynb_checkpoints/
geoviews-examples/Homepage.ipynb
geoviews-examples/assets/boundaries/
geoviews-examples/assets/results.json
geoviews-examples/data/
geoviews-examples/datasets.yml
geoviews-examples/gallery/
geoviews-examples/user_guide/
modis.nc
newmap&pixel.ipynb
resample&plot by geoweb.ipynb
temporalplot.py
